# Kconfig - nRF52810 PCA10040 board configuration
#
# Copyright (c) 2018 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: Apache-2.0

if BOARD_DCFURS_BT832A

config BOARD
	default "dcfurs_bt832a"

if ADC

config ADC_0
	default y

endif # ADC

if I2C

config I2C_0
	default y

endif # I2C

if SPI

config SPI_0
	default y

endif # SPI

endif # BOARD_DCFURS_BT832A
