# Kconfig - DCFurs BT832A board configuration
#
# Copyright (c) 2018 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: Apache-2.0

config  BOARD_DCFURS_BT832A
	bool "DCFurs BT832A"
	depends on SOC_NRF52810_QFAA
